body{
	background: url(../images/building2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;


}
#contact-text {
	text-align: center;
	margin:0;
	padding:2rem; 
}
#contact-text h1 {
	margin-top: 1rem;
	color: white;
	text-align: center;
	margin-bottom: 3rem;
}
#contact-text p {
	color:white;
	margin-top:2rem ;
	padding: 2rem;
	
}
.icons{
	width:80px;
	height:80px;
	border-radius: 50%;
}
#address-form {
	
	padding-right: 220px;
}
#address-form .row {
	margin: 10px 2px;
}
#address-form h3 {
	color:#00bcd4;
}
#address-form p {
	color: white;
}
#contact-form {
	border:1px solid black;
	left: 30px;
	width:100px;
	background: #fff;
	height: 300px; 
}
.label-text {
	left:2.5rem;
	position:absolute;
}
.input-box {
	margin:1.5rem;
}
#input-box input:focus {
	.label-text{
		transform: translateY(-20px);
	};
}
#input-box1{
	border:none;
	width:260px;
	border-bottom: 2px solid black;
}
#input-box2 {
	border:none;
	width:260px;
	border-bottom:2px solid black;
}
#input-box3{
	margin-top:-20px;
	border:none;
	width:260px;
	border-bottom: 2px solid black;
}
.label-text{
	color:#e91e63;
	font-size: 12px;
	transition: 0.8s;
	transform: translateY(-20px);
}
#submit {
	padding:5px;
	width:100px;
	color:white;
	border-radius: 4px;
	font-weight: bold;
	background:#00bcd4 ;
	border:none;
}